<div id="<%= dom_id list_movie %>">
  <p>
    <strong>Title:</strong>
    <%= list_movie.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= list_movie.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= list_movie.text %>
  </p>

</div>
