<h1>Editing list movie</h1>

<%= render "form", list_movie: @list_movie %>

<br>

<div>
  <%= link_to "Show this list movie", @list_movie %> |
  <%= link_to "Back to list movies", list_movies_path %>
</div>
